@page "/"

<PageTitle>CreditoFacil</PageTitle>


<div class="body">
    <div class="home-page">
        <div class="home-page_text-1">
            <h1>¡NO TE QUEDES<br /> CON LAS GANAS!</h1>
        </div>
        <div class="home-page_text-2">
            <div>En tu primer crédito de hasta $30.000</div>
            <div class="text-bold">te bonificamos el 50% de los intereses.

            </div>
        </div>
    </div>
</div>
